@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600);
body{
    background-repeat:repeat;
    background:#f5f5f5;
    font-family:Poppins,sans-serif;
    color:#5b626b;
    font-size:13px
}
html{
    overflow-x:hidden;
    position:relative;
    min-height:100%
}
h1,h2,h3,h4,h5,h6{
    margin:10px 0
}
p{
    line-height:1.7
}
svg{
    max-width:100%
}
a{
    color:#707070
}
a:hover{
    outline:0;
    text-decoration:none
}
a:active{
    outline:0;
    text-decoration:none
}
a:focus{
    outline:0;
    text-decoration:none
}
.container-alt{
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px
}
.footer{
    bottom:0;
    text-align:center;
    padding:20px 30px;
    position:absolute;
    right:0;
    left:240px;
    background-color:#fafafa;
    -webkit-box-shadow:0 -1px 2px 0 rgba(0,0,0,.05);
    box-shadow:0 -1px 2px 0 rgba(0,0,0,.05)
}
#wrapper{
    height:100%;
    overflow:hidden;
    width:100%
}
.slimScrollDiv{
    height:auto!important
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color:#407EB4
}
.social-links li a{
    border-radius:50%;
    display:inline-block;
    height:30px;
    line-height:30px;
    width:30px
}
.dropdown-menu{
    padding:4px 0;
    font-size:13px;
    -webkit-box-shadow:0 2px 30px rgba(0,0,0,.08);
    box-shadow:0 2px 30px rgba(0,0,0,.08);
    background-color:#fff;
    border-color:transparent;
    margin:0
}
.dropdown-item{
    background-color:#fff;
    padding:.55rem 1.5rem
}
.dropdown-item:active,.dropdown-item:hover{
    background-color:#f8f9fa;
    color:#2a3142
}
.dropdown-item.active,.dropdown-item:active{
    background-color:#f8f9fa;
    color:#2a3142
}
.breadcrumb>li+li:before{
    padding:0 5px;
    color:#707070;
    /*content:"\f105"!important;
    font-family:'Font Awesome 5 Free';*/
}
.bg-primary{
    background-color:#407EB4!important
}
.bg-success{
    background-color:#58db83!important
}
.bg-info{
    background-color:#29bbe3!important
}
.bg-warning{
    background-color:#f5b225!important
}
.bg-danger{
    background-color:#ec536c!important
}
.bg-muted{
    background-color:#707070!important
}
.bg-white{
    background-color:#fff!important
}
.text-white{
    color:#fff!important
}
.text-danger{
    color:#ec536c!important
}
.text-muted{
    color:#707070!important
}
.text-primary{
    color:#407EB4!important
}
.text-warning{
    color:#f5b225!important
}
.text-success{
    color:#58db83!important
}
.text-info{
    color:#29bbe3!important
}
.text-dark{
    color:#2a3142!important
}
.badge{
    font-weight:500
}
.badge-primary{
    background-color:#407EB4
}
.badge-success{
    background-color:#58db83
}
.badge-info{
    background-color:#29bbe3
}
.badge-warning{
    background-color:#f5b225;
    color:#fff
}
.badge-danger{
    background-color:#ec536c
}
.badge-dark{
    background-color:#2a3142
}
dt{
    font-weight:500
}
.p-0{
    padding:0
}
.p-t-10{
    padding-top:10px
}
.p-b-10{
    padding-bottom:10px
}
.m-0{
    margin:0
}
.m-r-5{
    margin-right:5px
}
.m-r-10{
    margin-right:10px
}
.m-r-15{
    margin-right:15px
}
.m-l-10{
    margin-left:10px
}
.m-l-15{
    margin-left:15px
}
.m-t-5{
    margin-top:5px
}
.m-t-10{
    margin-top:10px
}
.m-t-15{
    margin-top:15px
}
.m-t-20{
    margin-top:20px
}
.m-t-30{
    margin-top:30px
}
.m-t-40{
    margin-top:40px
}
.m-b-5{
    margin-bottom:5px
}
.m-b-10{
    margin-bottom:10px
}
.m-b-15{
    margin-bottom:15px
}
.m-b-20{
    margin-bottom:20px
}
.m-b-30{
    margin-bottom:30px
}
.w-30{
    max-width:30px
}
.w-xs{
    min-width:80px
}
.w-sm{
    min-width:95px
}
.w-md{
    min-width:110px
}
.w-lg{
    min-width:140px
}
.l-h-23{
    line-height:23px
}
.l-h-34{
    line-height:34px
}
.font-12{
    font-size:12px
}
.font-14{
    font-size:14px
}
.font-16{
    font-size:16px
}
.font-18{
    font-size:18px
}
.font-20{
    font-size:20px
}
.font-24{
    font-size:24px
}
.font-30{
    font-size:30px
}
.thumb-sm{
    height:32px;
    width:32px
}
.thumb-md{
    height:48px;
    width:48px
}
.thumb-lg{
    height:88px;
    width:88px
}
.font-500{
    font-weight:500
}
.font-600{
    font-weight:600
}
.header-title{
    font-size:16px
}
/*! * Waves v0.7.6 * http://fian.my.id/Waves * * Copyright 2014-2018 Alfiana E. Sibuea and other contributors * Released under the MIT license * https://github.com/fians/Waves/blob/master/LICENSE */
.waves-effect{
    position:relative;
    cursor:pointer;
    display:inline-block;
    overflow:hidden;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:transparent
}
.waves-effect .waves-ripple{
    position:absolute;
    border-radius:50%;
    width:100px;
    height:100px;
    margin-top:-50px;
    margin-left:-50px;
    opacity:0;
    background:rgba(0,0,0,.2);
    background:radial-gradient(rgba(0,0,0,.2) 0,rgba(0,0,0,.3) 40%,rgba(0,0,0,.4) 50%,rgba(0,0,0,.5) 60%,rgba(255,255,255,0) 70%);
    -webkit-transition:all .5s ease-out;
    transition:all .5s ease-out;
    -webkit-transition-property:-webkit-transform,opacity;
    -webkit-transition-property:opacity,-webkit-transform;
    transition-property:opacity,-webkit-transform;
    transition-property:transform,opacity;
    transition-property:transform,opacity,-webkit-transform;
    -webkit-transform:scale(0) translate(0,0);
    transform:scale(0) translate(0,0);
    pointer-events:none
}
.waves-effect.waves-light .waves-ripple{
    background:rgba(255,255,255,.4);
    background:radial-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.3) 40%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.5) 60%,rgba(255,255,255,0) 70%)
}
.waves-effect.waves-classic .waves-ripple{
    background:rgba(0,0,0,.2)
}
.waves-effect.waves-classic.waves-light .waves-ripple{
    background:rgba(255,255,255,.4)
}
.waves-notransition{
    -webkit-transition:none!important;
    transition:none!important
}
.waves-button,.waves-circle{
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-mask-image:-webkit-radial-gradient(circle,#fff 100%,#000 100%)
}
.waves-button,.waves-button-input,.waves-button:hover,.waves-button:visited{
    white-space:nowrap;
    vertical-align:middle;
    cursor:pointer;
    border:none;
    outline:0;
    color:inherit;
    background-color:rgba(0,0,0,0);
    font-size:1em;
    line-height:1em;
    text-align:center;
    text-decoration:none;
    z-index:1
}
.waves-button{
    padding:.85em 1.1em;
    border-radius:.2em
}
.waves-button-input{
    margin:0;
    padding:.85em 1.1em
}
.waves-input-wrapper{
    border-radius:.2em;
    vertical-align:bottom
}
.waves-input-wrapper.waves-button{
    padding:0
}
.waves-input-wrapper .waves-button-input{
    position:relative;
    top:0;
    left:0;
    z-index:1
}
.waves-circle{
    text-align:center;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    border-radius:50%
}
.waves-float{
    -webkit-mask-image:none;
    -webkit-box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);
    box-shadow:0 1px 1.5px 1px rgba(0,0,0,.12);
    -webkit-transition:all .3s;
    transition:all .3s
}
.waves-float:active{
    -webkit-box-shadow:0 8px 20px 1px rgba(0,0,0,.3);
    box-shadow:0 8px 20px 1px rgba(0,0,0,.3)
}
.waves-block{
    display:block
}
body{
    padding-bottom:65px
}
.wrapper{
    padding-top:130px
}
.container-fluid{
    width:90%
}
#topnav{
    position:fixed;
    right:0;
    left:0;
    top:0;
    z-index:1030;
    background:#2a3142;
    border:0;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    min-height:122px
}
#topnav .has-submenu.active a{
    color:#407EB4
}
#topnav .has-submenu.active .submenu li.active>a{
    color:#407EB4
}
.arrowpadding {
    padding: 6px 10px 0 10px;
    vertical-align: middle;
    cursor: pointer;
}
#topnav .topbar-main{
    background-color:#fff
}
#topnav .topbar-main .logo-div{
    line-height:60px;
    float:left; border-right:1px solid #ddd; margin: 0 20px 0 0; padding: 0 40px 0 0;
}
#topnav .topbar-main .logo .logo-large{
    height:45px
}
#topnav .topbar-main .logo-small{
    display:none;
    height:30px
}
#topnav .topbar-main .nav>li>a{
    height:36px;
    width:36px;
    padding:0;
    font-size:24px;
    line-height:35px;
    text-align:center;
    border-radius:50%;
    margin:12px 8px;
    color:rgba(42,49,66,.7)
}
#topnav .topbar-main .nav>li>a:focus,#topnav .topbar-main .nav>li>a:hover{
    background-color:rgba(42,49,66,.1);
    color:#2a3142
}
#topnav .navbar-custom { margin-top: 12px;}
#topnav .navbar-custom #navigation{
    background-color:#fff;
    margin-bottom:-40px;
    border-radius:3px;
    -webkit-box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}
#topnav .navbar-toggle{
    border:0;
    position:relative;
    padding:0;
    margin:0;
    cursor:pointer
}
#topnav .navbar-toggle:hover{
    background-color:transparent
}
#topnav .navbar-toggle:hover span{
    background-color:rgba(42,49,66,.8)
}
#topnav .navbar-toggle .lines{
    width:25px;
    display:block;
    position:relative;
    padding-top:23px;
    margin:0 10px;
    height:60px;
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
#topnav .navbar-toggle span{
    height:2px;
    width:100%;
    background-color:rgba(42,49,66,.8);
    display:block;
    margin-bottom:5px;
    -webkit-transition:-webkit-transform .5s ease;
    transition:-webkit-transform .5s ease;
    transition:transform .5s ease;
    transition:transform .5s ease,-webkit-transform .5s ease
}
#topnav .navbar-toggle.open span{
    position:absolute
}
#topnav .navbar-toggle.open span:first-child{
    top:30px;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    background-color:rgba(42,49,66,.8)
}
#topnav .navbar-toggle.open span:nth-child(2){
    visibility:hidden
}
#topnav .navbar-toggle.open span:last-child{
    width:100%;
    top:30px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
#topnav .navigation-menu{
    list-style:none;
    margin:0;
    padding:0
}
#topnav .navigation-menu>li{
    display:inline-block;
    position:relative
}
#topnav .navigation-menu>li>a{
    display:block;
    font-size:13.3px;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    line-height:18px;
    padding-left:25px;
    padding-right:25px
}
#topnav .navigation-menu>li>a:hover{
    color:#407EB4
}
#topnav .navigation-menu>li>a:focus{
    color:#407EB4
}
#topnav .navigation-menu>li>a:active{
    color:#407EB4
}
#topnav .navigation-menu>li>a i{
    display:block;
    font-size:16px;
    margin-bottom:8px;
    text-align:center;
    -webkit-transition:all .5s ease;
    transition:all .5s ease
}
#topnav .navigation-menu>li>a:focus,#topnav .navigation-menu>li>a:hover{
    background-color:transparent
}
.topbar-custom .show>.nav-link,.topbar-custom .show>.nav-link:focus,.topbar-custom .show>.nav-link:hover{
    background:#f8f9fa
}
.menu-extras ul li{
    float:left
}
.notification-item-list{
    max-height:230px
}
.notification-list .noti-icon{
    font-size:20px;
    vertical-align:middle;
    color:#2a3142
}
.notification-list .noti-icon-badge{
    display:inline-block;
    position:absolute;
    top:10px;
    right:9px
}
.notification-list .notify-item{
    padding:10px 20px
}
.notification-list .notify-item .notify-icon{
    float:left;
    height:36px;
    width:36px;
    text-align:center;
    margin-right:10px;
    border-radius:50%;
    color:#2a3142
}
.notification-list .notify-item .notify-icon i{
    height:32px;
    width:32px;
    background-color:#fff;
    border-radius:50%;
    line-height:30px;
    margin-top:2px
}
.notification-list .notify-item .notify-details{
    margin-bottom:0;
    overflow:hidden;
    margin-left:45px;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-weight:500
}
.notification-list .notify-item .notify-details span{
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
    font-size:12px;
    font-weight:400
}
.notification-list .profile-dropdown .notify-item{
    padding:4px 20px
}
.notification-list .nav-link{
    padding:0 15px;
    line-height:70px
}
.profile-dropdown{
    width:170px
}
.profile-dropdown i{
    font-size:17px;
    vertical-align:middle;
    margin-right:5px;
    color:#adb5bd
}
.profile-dropdown span{
    vertical-align:middle
}
.nav-user img{
    height:36px;
    width:36px
}
.arrow-none:after{
    border:none;
    margin:0;
    display:none
}
.dropdown-menu-lg{
    width:300px
}
.app-search{
    margin-top:13px
}
.app-search .form-control,.app-search .form-control:focus{
    border:1px solid #e9ecef;
    font-size:13px;
    height:34px;
    padding-left:18px;
    padding-right:40px;
    margin-right:20px;
    background:#f8f9fa;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:30px;
    width:200px
}
.app-search button{
    position:absolute;
    top:13px;
    right:20px;
    display:block;
    height:34px;
    line-height:34px;
    width:34px;
    text-align:center;
    color:#707070;
    font-size:11px;
    border:none;
    background-color:transparent
}
.page-title-box{
    padding:0px 0 10px 0;
}
.page-title-box .page-title{
    font-size:18px;
    margin:0;
    line-height:30px;
    color:#2a3142
}
.page-title-box .breadcrumb{
    padding:0;
    background-color:transparent;
    margin-bottom:0
}
.page-title-box .breadcrumb a{
    color:rgba(255,255,255,.5)
}
.page-title-box .breadcrumb a:hover{
    color:rgba(255,255,255,.7)
}
.page-title-box .breadcrumb .active{
    color:#666;
}
.page-title-box .state-information{
    position:absolute;
    right:20px;
    top:20px
}
.page-title-box .state-information .state-graph{
    float:right;
    margin-left:40px;
    text-align:center
}
.page-title-box .state-information .state-graph .info{
    font-size:12px;
    margin-top:5px;
    color:#eee
}
@media (min-width:992px){
    #topnav .navigation-menu>li>a{
        padding-top:10px;
        padding-bottom:10px
    }
    #topnav .navigation-menu>li.last-elements .submenu{
        left:auto;
        right:0
    }
    #topnav .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu{
        left:auto;
        right:100%;
        margin-left:0;
        margin-right:10px
	}
	#topnav .navigation-menu>li a.active{
        color:#407EB4
    }
    #topnav .navigation-menu>li:hover a{
        color:#407EB4
    }
    #topnav .navigation-menu>li:hover a i{
        color:#407EB4
    }
    #topnav .navigation-menu>li .submenu{
        position:absolute;
        top:100%;
        left:0;
        z-index:1000;
        padding:10px 0;
        list-style:none;
        min-width:200px;
        text-align:left;
        visibility:hidden;
        opacity:0;
        margin-top:20px;
        -webkit-transition:all .2s ease;
        transition:all .2s ease;
        background-color:#fff;
        -webkit-box-shadow:0 17px 34px 0 rgba(0,0,0,.05),0 8px 14px 0 rgba(0,0,0,.02);
        box-shadow:0 17px 34px 0 rgba(0,0,0,.05),0 8px 14px 0 rgba(0,0,0,.02)
    }
    #topnav .navigation-menu>li .submenu.megamenu{
        white-space:nowrap;
        width:auto
    }
    #topnav .navigation-menu>li .submenu.megamenu>li{
        overflow:hidden;
        width:200px;
        display:inline-block;
        vertical-align:top
    }
    #topnav .navigation-menu>li .submenu>li.has-submenu>a:after{
        content:"\56";
        font-family:dripicons-v2;
        position:absolute;
        right:20px;
        top:8px;
        font-size:15px
    }
    #topnav .navigation-menu>li .submenu>li .submenu{
        left:100%;
        top:0;
        margin-top:10px
    }
    #topnav .navigation-menu>li .submenu li{
        position:relative
    }
    #topnav .navigation-menu>li .submenu li ul{
        list-style:none;
        padding-left:0;
        margin:0
    }
    #topnav .navigation-menu>li .submenu li a{
        display:block;
        padding:8px 25px;
        clear:both;
        white-space:nowrap;
        font-size:13px;
        color:#3e4861;
        margin-bottom:2px;
        -webkit-transition:all .35s ease;
        transition:all .35s ease
    }
    #topnav .navigation-menu>li .submenu li a:hover{
        color:#407EB4
    }
    #topnav .navbar-toggle{
        display:none
    }
    #topnav #navigation{
        display:block
    }
}
@media (max-width:991px){
    .wrapper{
        padding-top:100px
    }
    .container-fluid{
        width:100%
    }
    #topnav .navigation-menu{
        float:none;
        max-height:400px;
        text-align:left
    }
    #topnav .navigation-menu>li{
        display:block
    }
    #topnav .navigation-menu>li>a{
        color:#2a3142;
        padding:15px
    }
    #topnav .navigation-menu>li>a i{
        display:inline-block;
        margin-right:10px;
        margin-bottom:0;
        vertical-align:inherit
    }
    #topnav .navigation-menu>li>a:after{
        position:absolute;
        right:15px
    }
    #topnav .navigation-menu>li .submenu{
        display:none;
        list-style:none;
        padding-left:20px;
        margin:0
    }
    #topnav .navigation-menu>li .submenu li a{
        display:block;
        position:relative;
        padding:7px 20px;
        color:#2a3142
    }
    #topnav .navigation-menu>li .submenu li a:hover{
        color:#407EB4
    }
    #topnav .navigation-menu>li .submenu li.has-submenu>a:after{
        content:"\54";
        font-family:dripicons-v2;
        position:absolute;
        right:30px
    }
    #topnav .navigation-menu>li .submenu.open{
        display:block
    }
    #topnav .navigation-menu>li .submenu .submenu{
        display:none;
        list-style:none
    }
    #topnav .navigation-menu>li .submenu .submenu.open{
        display:block
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul{
        list-style:none;
        padding-left:0
    }
    #topnav .navigation-menu>li .submenu.megamenu>li>ul>li>span{
        display:block;
        position:relative;
        padding:15px;
        text-transform:uppercase;
        font-size:11px;
        letter-spacing:2px;
        color:#2a3142
    }
    #topnav .navigation-menu>li.has-submenu.open>a{
        color:#407EB4
    }
    #topnav .navbar-header{
        float:left
    }
    #navigation{
        position:absolute;
        top:60px;
        left:0;
        right:0;
        display:none;
        height:auto;
        padding-bottom:0;
        overflow:auto;
        background-color:#fff;
        z-index:1000
    }
    #navigation.open{
        display:block;
        overflow-y:auto
    }
}
@media (min-width:768px){
    #topnav .navigation-menu>li.has-submenu:hover>.submenu{
        visibility:visible;
        opacity:1;
        margin-top:0
    }
    #topnav .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu{
        visibility:visible;
        opacity:1;
        margin-top:-1px;
        margin-right:0
    }
    .navbar-toggle{
        display:block
    }
}
@media (max-width:767px){
    .page-title-box .breadcrumb,.page-title-box .state-information{
        display:none
    }
    .wrapper{
        padding-top:100px
    }
}
@media (max-width:620px){
    .logo-large{
        display:none
    }
    .logo-small{
        display:inline-block!important
    }
    #topnav .has-submenu.active a{
        color:#407EB4
    }
}
.topbar-custom .nav-link{
    line-height:60px;
    color:#2a3142;
    display:block;
    max-height:60px
}
.topbar-custom .dropdown-toggle:after{
    content:initial
}
.topbar-custom .menu-left{
    overflow:hidden
}
.footer{
    left:0!important;
    font-size:inherit;
    padding:20px 0;
    bottom:0;
    text-align:center;
    position:absolute;
    right:0;
    background-color:#fafafa;
    -webkit-box-shadow:0 -1px 2px 0 rgba(0,0,0,.05);
    box-shadow:0 -1px 2px 0 rgba(0,0,0,.05)
}
.btn{
    border-radius:3px;
    font-size:13px
}
button:focus{
    outline:0
}
.btn-sm{
    font-size:10.83333px
}
.btn-lg{
    font-size:15.6px
}
.btn-blue-grey,.btn-brown,.btn-danger,.btn-dark,.btn-indigo,.btn-info,.btn-lime,.btn-orange,.btn-pink,.btn-primary,.btn-purple,.btn-success,.btn-teal,.btn-warning{
    color:#fff
}
.btn-primary{
    background-color:#407EB4;
    border:1px solid #407EB4
}
.btn-outline-primary.active,.btn-outline-primary:active,.btn-outline-primary:hover,.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.open>.dropdown-toggle.btn-primary,.show>.btn-outline-primary.dropdown-toggle,.show>.btn-primary.dropdown-toggle{
    background-color:#2292f1;
    border:1px solid #2292f1
}
.btn-outline-primary.focus,.btn-outline-primary:focus,.btn-primary.focus,.btn-primary:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(122,111,190,.3);
    box-shadow:0 0 0 2px rgba(122,111,190,.3)
}
.btn-outline-secondary.focus,.btn-outline-secondary:focus,.btn-secondary.focus,.btn-secondary:focus,.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-secondary.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(42,49,66,.3);
    box-shadow:0 0 0 2px rgba(42,49,66,.3)
}
.btn-success{
    background-color:#58db83;
    border:1px solid #58db83
}
.btn-outline-success.active,.btn-outline-success:active,.btn-outline-success:hover,.btn-success.active,.btn-success.focus,.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.open>.dropdown-toggle.btn-success,.show>.btn-outline-success.dropdown-toggle,.show>.btn-success.dropdown-toggle,.show>.btn-success.dropdown-toggle:focus{
    background-color:#43d673;
    border:1px solid #43d673
}
.btn-outline-success.focus,.btn-outline-success:focus,.btn-success.focus,.btn-success:focus,.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(88,219,131,.3);
    box-shadow:0 0 0 2px rgba(88,219,131,.3)
}
.btn-info{
    background-color:#29bbe3;
    border:1px solid #29bbe3
}
.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.btn-outline-info.active,.btn-outline-info:active,.btn-outline-info:hover,.open>.dropdown-toggle.btn-info,.show>.btn-info.dropdown-toggle,.show>.btn-outline-info.dropdown-toggle{
    background-color:#1caed6;
    border:1px solid #1caed6
}
.btn-info.focus,.btn-info:focus,.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.btn-outline-info.focus,.btn-outline-info:focus,.show>.btn-info.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(41,187,227,.3);
    box-shadow:0 0 0 2px rgba(41,187,227,.3)
}
.btn-warning{
    background-color:#f5b225;
    border:1px solid #f5b225
}
.btn-outline-warning.active,.btn-outline-warning:active,.btn-outline-warning:hover,.btn-warning.active,.btn-warning.focus,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active,.open>.dropdown-toggle.btn-warning,.show>.btn-outline-warning.dropdown-toggle,.show>.btn-warning.dropdown-toggle{
    background-color:#f4a90d;
    border:1px solid #f4a90d;
    color:#fff
}
.btn-outline-warning.focus,.btn-outline-warning:focus,.btn-warning.focus,.btn-warning:focus,.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-warning.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(245,178,37,.3);
    box-shadow:0 0 0 2px rgba(245,178,37,.3)
}
.btn-danger{
    background-color:#ec536c;
    border:1px solid #ec536c
}
.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.btn-outline-danger.active,.btn-outline-danger:active,.btn-outline-danger:hover,.open>.dropdown-toggle.btn-danger,.show>.btn-danger.dropdown-toggle,.show>.btn-outline-danger.dropdown-toggle{
    background-color:#e93c58;
    border:1px solid #e93c58
}
.btn-danger.focus,.btn-danger:focus,.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.btn-outline-danger.focus,.btn-outline-danger:focus,.show>.btn-danger.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 2px rgba(236,83,108,.3);
    box-shadow:0 0 0 2px rgba(236,83,108,.3)
}
.btn-dark{
    background-color:#2a3142;
    border:1px solid #2a3142;
    color:#fff
}
.btn-dark.active,.btn-dark.focus,.btn-dark:active,.btn-dark:focus,.btn-dark:hover,.btn-outline-dark.active,.btn-outline-dark:active,.btn-outline-dark:hover,.open>.dropdown-toggle.btn-dark,.show>.btn-outline-dark.dropdown-toggle{
    background-color:#202532;
    border:1px solid #202532;
    color:#fff
}
.btn-dark.focus,.btn-dark:focus,.btn-outline-dark.focus,.btn-outline-dark:focus{
    -webkit-box-shadow:0 0 0 2px rgba(42,49,66,.3);
    box-shadow:0 0 0 2px rgba(42,49,66,.3)
}
.btn-link{
    color:#2a3142
}
.btn-link:hover{
    color:#407EB4
}
.btn-outline-primary{
    color:#407EB4;
    border-color:#407EB4
}
.btn-outline-success{
    color:#58db83;
    border-color:#58db83
}
.btn-outline-info{
    color:#29bbe3;
    border-color:#29bbe3
}
.btn-outline-warning{
    color:#f5b225;
    border-color:#f5b225
}
.btn-outline-danger{
    color:#ec536c;
    border-color:#ec536c
}
.btn-outline-dark{
    color:#2a3142;
    background-image:none;
    background-color:transparent;
    border-color:#2a3142
}
.card{
    border:none;
    -webkit-box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    margin-bottom:30px
}
@media (min-width:576px){
    .card-columns{
        -webkit-column-gap:30px;
        column-gap:30px
    }
}
.card-columns .card{
    margin-bottom:30px
}
.email-leftbar{
    width:230px;
    float:left;
    background-color:#fff;
    padding:20px;
    border-radius:5px
}
.email-rightbar{
    margin-left:260px
}
.chat-user-box p.user-title{
    font-size:13px;
    color:#2a3142;
    font-weight:500
}
.chat-user-box p{
    font-size:12px
}
@media (max-width:767px){
    .email-leftbar{
        float:none;
        width:100%
    }
    .email-rightbar{
        margin:0
    }
}
.mail-list a{
    display:block;
    color:#343d52;
    font-size:13px;
    line-height:24px;
    padding:5px
}
.mail-list a.active{
    color:#ec536c;
    font-weight:600
}
.message-list{
    display:block;
    padding-left:0
}
.message-list li{
    position:relative;
    display:block;
    height:50px;
    line-height:50px;
    cursor:default;
    -webkit-transition-duration:.3s;
    transition-duration:.3s
}
.message-list li a{
    color:#707070
}
.message-list li:hover{
    background:rgba(112,112,112,.08);
    -webkit-transition-duration:.05s;
    transition-duration:.05s
}
.message-list li .col-mail{
    float:left;
    position:relative
}
.message-list li .col-mail-1{
    width:320px
}
.message-list li .col-mail-1 .checkbox-wrapper-mail,.message-list li .col-mail-1 .dot,.message-list li .col-mail-1 .star-toggle{
    display:block;
    float:left
}
.message-list li .col-mail-1 .dot{
    border:4px solid transparent;
    border-radius:100px;
    margin:22px 26px 0;
    height:0;
    width:0;
    line-height:0;
    font-size:0
}
.message-list li .col-mail-1 .checkbox-wrapper-mail{
    margin:15px 10px 0 20px
}
.message-list li .col-mail-1 .star-toggle{
    margin-top:18px;
    font-size:13px;
    margin-left:5px
}
.message-list li .col-mail-1 .title{
    position:absolute;
    top:14px;
    left:110px;
    right:0;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-bottom:0
}
.message-list li .col-mail-2{
    position:absolute;
    top:0;
    left:320px;
    right:0;
    bottom:0
}
.message-list li .col-mail-2 .date,.message-list li .col-mail-2 .subject{
    position:absolute;
    top:0
}
.message-list li .col-mail-2 .subject{
    left:0;
    right:200px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap
}
.message-list li .col-mail-2 .date{
    right:0;
    width:170px;
    padding-left:80px
}
.message-list li.active,.message-list li.active:hover{
    -webkit-box-shadow:inset 3px 0 0 #407EB4;
    box-shadow:inset 3px 0 0 #407EB4
}
.message-list li.unread{
    background-color:#f7f7f7;
    font-weight:500
}
.message-list li.unread a{
    color:#202532;
    font-weight:500
}
.message-list .checkbox-wrapper-mail{
    cursor:pointer;
    height:20px;
    width:20px;
    position:relative;
    display:inline-block;
    -webkit-box-shadow:inset 0 0 0 1px #dee2e6;
    box-shadow:inset 0 0 0 1px #dee2e6;
    border-radius:1px
}
.message-list .checkbox-wrapper-mail input{
    opacity:0;
    cursor:pointer
}
.message-list .checkbox-wrapper-mail input:checked~label{
    opacity:1
}
.message-list .checkbox-wrapper-mail label{
    position:absolute;
    height:20px;
    width:20px;
    left:0;
    cursor:pointer;
    opacity:0;
    margin-bottom:0;
    -webkit-transition-duration:.05s;
    transition-duration:.05s;
    top:0
}
.message-list .checkbox-wrapper-mail label:before{
    content:"\F12C";
    font-family:"Material Design Icons";
    top:0;
    height:20px;
    color:#202532;
    width:20px;
    position:absolute;
    margin-top:-16px;
    left:4px;
    font-size:13px
}
.note-btn-group .dropdown-menu>li>a{
    display:block;
    padding:5px 20px;
    clear:both;
    font-weight:400;
    line-height:1.42857143;
    color:#333;
    white-space:nowrap
}
.note-btn-group .dropdown-menu>li>a:hover{
    background-color:#e4e7ea
}
.note-air-popover,.note-image-popover,.note-link-popover{
    display:none
}
.note-air-popover .dropdown-toggle::after,.note-image-popover .dropdown-toggle::after,.note-link-popover .dropdown-toggle::after{
    margin-left:0
}
.note-icon-caret{
    display:none
}
.note-editor{
    position:relative
}
.note-editor .btn-default{
    background-color:transparent;
    border-color:transparent
}
.note-editor .btn-group-sm>.btn,.note-editor .btn-sm{
    padding:8px 12px
}
.note-editor .note-toolbar{
    background:#edeff1;
    border-bottom:1px solid #e9ecef;
    margin:0
}
.note-editor .note-statusbar{
    background-color:#fff
}
.note-editor .note-statusbar .note-resizebar{
    border-top:none;
    height:15px;
    padding-top:3px
}
.note-editor.note-frame{
    border:1px solid #e9ecef;
    -webkit-box-shadow:none;
    box-shadow:none
}
.note-popover .popover .popover-content{
    padding:5px 0 10px 5px
}
.note-popover .btn-default{
    background-color:transparent;
    border-color:transparent
}
.note-popover .btn-group-sm>.btn,.note-popover .btn-sm{
    padding:8px 12px
}
.note-toolbar{
    padding:5px 0 10px 5px
}
.alert{
    position:relative;
    border:0
}
.alert .alert-link{
    font-weight:600
}
.alert-success{
    color:#58db83;
    background-color:#d6f6e0
}
.alert-success .alert-link{
    color:#2ed264
}
.alert-success hr{
    border-top-color:#2ed264
}
.alert-info{
    color:#29bbe3;
    background-color:#c7edf8
}
.alert-info .alert-link{
    color:#199cc0
}
.alert-info hr{
    border-top-color:#199cc0
}
.alert-warning{
    color:#f5b225;
    background-color:#fce9c1
}
.alert-warning .alert-link{
    color:#dd990a
}
.alert-warning hr{
    border-top-color:#dd990a
}
.alert-danger{
    color:#ec536c;
    background-color:#fbdde2
}
.alert-danger .alert-link{
    color:#e72545
}
.alert-danger hr{
    border-top-color:#e72545
}
.button-items{
    margin-bottom:-8px
}
.button-items .btn{
    margin-bottom:8px;
    margin-right:5px
}
.bs-example-modal{
    position:relative;
    top:auto;
    right:auto;
    bottom:auto;
    left:auto;
    z-index:1;
    display:block
}
.icon-demo-content{
    text-align:center;
    color:#707070
}
.icon-demo-content i{
    display:block;
    font-size:28px;
    margin-bottom:5px
}
.icon-demo-content .col-md-4{
    margin-bottom:30px
}
.icon-demo-content .col-md-4:hover i{
    color:#407EB4
}
.blockquote{
    padding:10px 20px;
    margin-bottom:20px;
    border-left:4px solid #e9ecef
}
.blockquote-reverse{
    border-left:0;
    border-right:4px solid #e9ecef;
    text-align:right
}
.page-link{
    color:#407EB4
}
.page-item.active .page-link{
    background-color:#407EB4;
    border-color:#407EB4
}
.page-link:focus,.page-link:hover{
    color:#2a3142;
    background-color:#e9ecef
}
.progress{
    height:10px
}
.progress-bar{
    background-color:#407EB4
}
.popover-header{
    margin-top:0
}
.tooltip .tooltip-inner{
    padding:4px 10px; font-size: 11px;
}
.swal2-modal{
    font-family:inherit
}
.swal2-modal .swal2-title{
    font-size:28px
}
.swal2-modal .swal2-content{
    font-size:16px
}
.swal2-modal .swal2-spacer{
    margin:10px 0
}
.swal2-modal .swal2-file,.swal2-modal .swal2-input,.swal2-modal .swal2-textarea{
    border:2px solid #707070;
    font-size:16px;
    -webkit-box-shadow:none!important;
    box-shadow:none!important
}
.swal2-modal .swal2-styled{
    border:inherit
}
.swal2-modal .swal2-image{
    height:30px
}
.swal2-icon.swal2-question{
    color:#407EB4;
    border-color:#407EB4
}
.swal2-icon.swal2-success{
    border-color:#58db83
}
.swal2-icon.swal2-success .line{
    background-color:#58db83
}
.swal2-icon.swal2-success .placeholder{
    border-color:#58db83
}
.swal2-icon.swal2-warning{
    color:#f5b225;
    border-color:#f5b225
}
.swal2-icon.swal2-error{
    border-color:#ec536c
}
.swal2-icon.swal2-error .line{
    background-color:#ec536c
}
.swal2-modal .swal2-file:focus,.swal2-modal .swal2-input:focus,.swal2-modal .swal2-textarea:focus{
    outline:0;
    border:2px solid #407EB4
}
.nav-pills .nav-link,.nav-tabs .nav-link{
    color:#2a3142;
    font-weight:500
}
.nav-tabs-custom{
    border-bottom:2px solid #ddd
}
.nav-tabs-custom .nav-item{
    position:relative
}
.nav-tabs-custom .nav-item .nav-link{
    border:none!important;
    font-weight:500
}
.nav-tabs-custom>li>a{
    color:#2a3142
}
.nav-tabs-custom>li>a::after{
    content:"";
    background:#407EB4;
    height:2px;
    position:absolute;
    width:100%;
    left:0;
    bottom:-1px;
    -webkit-transition:all 250ms ease 0s;
    transition:all 250ms ease 0s;
    -webkit-transform:scale(0);
    transform:scale(0)
}
.nav-tabs-custom>li:hover>a::after,.nav-tabs-custom>li>a.active::after{
    -webkit-transform:scale(1);
    transform:scale(1)
}
.nav-tabs-custom>li>a.active{
    color:#407EB4!important
}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{
    background:#407EB4
}
#accordion .card-header{
    border-bottom:1px solid rgba(42,49,66,.05)
}
label{
    font-weight:500
}
.form-control{
    font-size:13px
}
.form-control:focus{
    border-color:#407EB4;
    -webkit-box-shadow:none;
    box-shadow:none
}
.form-control-sm{
    font-size:.875rem
}
.custom-select-sm{
    font-size:75%
}
.custom-control-input:checked~.custom-control-indicator{
    background-color:#407EB4
}
.custom-control-input:focus~.custom-control-indicator{
    -webkit-box-shadow:0 0 0 1px #fff,0 0 0 3px #407EB4;
    box-shadow:0 0 0 1px #fff,0 0 0 3px #407EB4
}
.has-success .form-control{
    border-color:#58db83;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-warning .form-control{
    border-color:#f5b225;
    -webkit-box-shadow:none;
    box-shadow:none
}
.has-error .form-control{
    border-color:#ec536c;
    -webkit-box-shadow:none;
    box-shadow:none
}
.input-group-addon{
    border-radius:2px;
    border:1px solid #f8f9fa
}
.error{
    color:red
}
.parsley-error{
    border-color:#ec536c
}
.parsley-errors-list{
    display:none;
    margin:0;
    padding:0
}
.parsley-errors-list.filled{
    display:block
}
.parsley-errors-list>li{
    font-size:12px;
    list-style:none;
    color:#ec536c;
    margin-top:5px
}
.datepicker{
    border:1px solid #f8f9fa;
    padding:8px
}
.datepicker table tr td.active,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td.active:hover,.datepicker table tr td.selected,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover,.datepicker table tr td.selected:hover,.datepicker table tr td.today,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today:hover{
    background-color:#407EB4!important;
    background-image:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#fff
}
.table-condensed>tbody>tr>td,.table-condensed>thead>tr>th{
    padding:5px
}
.bootstrap-touchspin .input-group-btn-vertical .btn{
    padding:9px 12px
}
.bootstrap-touchspin .input-group-btn-vertical i{
    top:4px;
    left:8px
}
.colorpicker-visible{
    visibility:visible;
    opacity:1;
    display:block;
    margin-top:0
}
.datepicker-dropdown.dropdown-menu{
    visibility:visible;
    opacity:1;
    margin-top:0
}
.colorpicker-selectors i{
    margin-top:5px;
    margin-left:5px
}
.colorpicker-2x .colorpicker-saturation{
    width:200px;
    height:200px
}
.colorpicker-2x .colorpicker-alpha,.colorpicker-2x .colorpicker-hue{
    width:30px;
    height:200px
}
.colorpicker-2x .colorpicker-color,.colorpicker-2x .colorpicker-color div{
    height:30px
}
.select2-container{
    width:100%!important
}
.select2-container .select2-selection--single{
    border:1px solid #e3e3e3;
    height:38px
}
.select2-container .select2-selection--single .select2-selection__rendered{
    line-height:36px;
    padding-left:12px
}
.select2-container .select2-selection--single .select2-selection__arrow{
    height:34px;
    width:34px;
    right:3px
}
.select2-container .select2-selection--single .select2-selection__arrow b{
    border-color:#999 transparent transparent transparent;
    border-width:6px 6px 0 6px
}
.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color:transparent transparent #999 transparent;
    border-width:0 6px 6px 6px
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color:#407EB4
}
.select2-results__option{
    padding:6px 12px
}
.select2-dropdown{
    border:1px solid #e3e3e3;
    padding-top:5px;
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,.15);
    box-shadow:0 2px 2px rgba(0,0,0,.15)
}
.select2-search input{
    border:1px solid #e3e3e3
}
.select2-container .select2-selection--multiple{
    min-height:38px;
    border:1px solid #e3e3e3
}
.select2-container .select2-selection--multiple .select2-selection__rendered{
    padding:2px 10px
}
.select2-container .select2-selection--multiple .select2-search__field{
    margin-top:7px;
    border:0
}
.select2-container .select2-selection--multiple .select2-selection__choice{
    background-color:#f5f5f5;
    border:1px solid #e3e3e3;
    border-radius:1px;
    padding:0 7px
}
input[switch]{
    display:none
}
input[switch]+label{
    font-size:1em;
    line-height:1;
    width:56px;
    height:24px;
    background-color:#dee2e6;
    background-image:none;
    border-radius:2rem;
    padding:.16667rem;
    cursor:pointer;
    display:inline-block;
    text-align:center;
    position:relative;
    font-weight:500;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
input[switch]+label:before{
    color:#2a3142;
    content:attr(data-off-label);
    display:block;
    font-family:inherit;
    font-weight:500;
    font-size:12px;
    line-height:21px;
    position:absolute;
    right:1px;
    margin:3px;
    top:-2px;
    text-align:center;
    min-width:1.66667rem;
    overflow:hidden;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
input[switch]+label:after{
    content:'';
    position:absolute;
    left:3px;
    background-color:#e9ecef;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:2rem;
    height:20px;
    width:20px;
    top:2px;
    -webkit-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
input[switch]:checked+label{
    background-color:#407EB4
}
input[switch]:checked+label:before{
    color:#fff;
    content:attr(data-on-label);
    right:auto;
    left:3px
}
input[switch]:checked+label:after{
    left:33px;
    background-color:#e9ecef
}
input[switch=bool]+label{
    background-color:#ec536c
}
input[switch=bool]+label:before,input[switch=bool]:checked+label:before,input[switch=default]:checked+label:before{
    color:#fff
}
input[switch=bool]:checked+label{
    background-color:#58db83
}
input[switch=default]:checked+label{
    background-color:#a2a2a2
}
input[switch=primary]:checked+label{
    background-color:#407EB4
}
input[switch=success]:checked+label{
    background-color:#58db83
}
input[switch=info]:checked+label{
    background-color:#29bbe3
}
input[switch=warning]:checked+label{
    background-color:#f5b225
}
input[switch=danger]:checked+label{
    background-color:#ec536c
}
input[switch=dark]:checked+label{
    background-color:#2a3142
}
.icon-span-filestyle{
    padding-right:5px
}
.bootstrap-filestyle label{
    margin-bottom:0
}
.group-span-filestyle .badge{
    background-color:#2a3142
}
.bootstrap-touchspin .input-group-addon{
    padding:.5rem .75rem;
    margin-bottom:0;
    font-size:1rem;
    font-weight:400;
    line-height:1.25;
    color:#2a3142;
    text-align:center;
    background-color:#e9ecef;
    border:1px solid rgba(42,49,66,.15)
}
.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group{
    z-index:2;
    margin-left:-1px
}
.bootstrap-touchspin .input-group .form-control:not(:first-child),.bootstrap-touchspin .input-group-addon:not(:first-child),.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn,.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group>.btn,.bootstrap-touchspin .input-group-btn:not(:first-child)>.dropdown-toggle,.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn:not(:first-child){
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.bootstrap-touchspin .input-group .form-control:not(:last-child),.bootstrap-touchspin .input-group-addon:not(:last-child),.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,.bootstrap-touchspin .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn,.bootstrap-touchspin .input-group-btn:not(:last-child)>.btn-group>.btn,.bootstrap-touchspin .input-group-btn:not(:last-child)>.dropdown-toggle{
    border-top-right-radius:0;
    border-bottom-right-radius:0
}
.bootstrap-touchspin .btn{
    font-size:16px
}
:not(pre)>code[class*=language-],pre[class*=language-]{
    background:#f8f9fa
}
.mce-panel{
    border-color:#cfd5db!important;
    background-color:#f8f9fa!important
}
.mce-menu-item.mce-selected,.mce-menu-item:focus,.mce-menu-item:hover{
    background-color:#407EB4!important
}
.mce-menu{
    background-color:#fff!important
}
.dropzone{
    min-height:230px;
    border:2px dashed rgba(0,0,0,.3);
    background:#fff;
    border-radius:0
}
.dropzone .dz-message{
    font-size:30px
}
.calendar{
    float:left;
    margin-bottom:0
}
.none-border .modal-footer{
    border-top:none
}
.fc-toolbar{
    margin-bottom:5px
}
.fc-toolbar h2{
    font-size:16px;
    font-weight:500;
    line-height:30px;
    text-transform:uppercase
}
.fc-day{
    background:#fff
}
.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active,.fc-toolbar .ui-state-hover,.fc-toolbar button:focus,.fc-toolbar button:hover{
    z-index:0
}
.fc-widget-header{
    border:1px solid #d5d5d5;
    background-color:#f8f9fa
}
.fc-widget-content{
    border:1px solid #d5d5d5
}
.fc th.fc-widget-header{
    font-size:14px;
    line-height:20px;
    padding:10px 0;
    font-weight:500;
    text-transform:uppercase
}
.fc-button{
    background:#fff;
    border:1px solid #d5d5d5;
    color:#555;
    text-transform:capitalize;
    outline:0
}
.fc-state-active,.fc-state-down{
    -webkit-box-shadow:none;
    box-shadow:none;
    background-color:#407EB4;
    border-color:#407EB4;
    color:#fff
}
.fc-text-arrow{
    font-family:arial;
    font-size:16px
}
.fc-state-hover{
    background:#e9ecef
}
.fc-state-highlight{
    background:#f0f0f0
}
.fc-cell-overlay{
    background:#f0f0f0
}
.fc-unthemed .fc-today{
    background:#fff
}
.fc-event{
    border-radius:2px;
    border:none;
    cursor:move;
    font-size:13px;
    margin:5px 0;
    padding:5px 5px;
    text-align:center;
    background-color:#407EB4;
    color:#fff!important
}
.fc-event .fc-time{
    font-weight:500
}
.external-event{
    color:#fff;
    cursor:move;
    margin:10px 0;
    padding:6px 10px
}
.fc-basic-view td.fc-week-number span{
    padding-right:5px
}
.fc-basic-view td.fc-day-number{
    padding-right:5px
}
th{
    font-weight:500
}
.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td{
    padding:15px 12px
}
.table-hover tbody tr:hover,.table-striped tbody tr:nth-of-type(odd),.thead-default th{
    background-color:#f8f9fa
}
.table td,.table th{
    vertical-align:middle
}
.table-vertical td{
    vertical-align:middle
}
table.focus-on tbody tr.focused th{
    background-color:#407EB4;
    color:#fff
}
table.focus-on tbody tr.focused td{
    background-color:#407EB4;
    color:#fff
}
.table-rep-plugin .btn-toolbar{
    display:block
}
.table-rep-plugin .table-responsive{
    border:none!important
}
.table-rep-plugin .btn-group.float-right .dropdown-menu{
    left:auto;
    right:0
}
.table-rep-plugin tbody th{
    font-size:14px;
    font-weight:400
}
.table-rep-plugin .checkbox-row{
    padding-left:40px
}
.table-rep-plugin .checkbox-row label{
    display:inline-block;
    padding-left:5px;
    position:relative
}
.table-rep-plugin .checkbox-row label::before{
    -o-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
    background-color:#fff;
    border-radius:3px;
    border:1px solid #dee2e6;
    content:"";
    display:inline-block;
    height:17px;
    left:0;
    margin-left:-20px;
    position:absolute;
    transition:.3s ease-in-out;
    width:17px;
    outline:0!important
}
.table-rep-plugin .checkbox-row label::after{
    color:#e9ecef;
    display:inline-block;
    font-size:11px;
    height:16px;
    left:0;
    margin-left:-20px;
    padding-left:3px;
    padding-top:1px;
    position:absolute;
    top:-1px;
    width:16px
}
.table-rep-plugin .checkbox-row input[type=checkbox]{
    cursor:pointer;
    opacity:0;
    z-index:1;
    outline:0!important
}
.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label{
    opacity:.65
}
.table-rep-plugin .checkbox-row input[type=checkbox]:focus+label::before{
    outline-offset:-2px;
    outline:0
}
.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after{
    content:"\f00c";
    font-family:'Font Awesome 5 Free';
}
.table-rep-plugin .checkbox-row input[type=checkbox]:disabled+label::before{
    background-color:#f8f9fa;
    cursor:not-allowed
}
.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::before{
    background-color:#407EB4;
    border-color:#407EB4
}
.table-rep-plugin .checkbox-row input[type=checkbox]:checked+label::after{
    color:#fff
}
.table-rep-plugin .sticky-table-header.fixed-solution{
    top:239px!important
}
@media (max-width:767px){
    .table-rep-plugin .sticky-table-header.fixed-solution{
        top:130px!important
    }
}
.gmaps,.gmaps-panaroma{
    height:300px;
    background:#f8f9fa;
    border-radius:3px
}
.gmaps-overlay{
    display:block;
    text-align:center;
    color:#fff;
    font-size:16px;
    line-height:40px;
    background:#407EB4;
    border-radius:4px;
    padding:10px 20px
}
.gmaps-overlay_arrow{
    left:50%;
    margin-left:-16px;
    width:0;
    height:0;
    position:absolute
}
.gmaps-overlay_arrow.above{
    bottom:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top:16px solid #407EB4
}
.gmaps-overlay_arrow.below{
    top:-15px;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-bottom:16px solid #407EB4
}
.vector-map-height{
    height:400px
}
.jvectormap-zoomin,.jvectormap-zoomout{
    display:none
}
.irs-from,.irs-single,.irs-to{
    background:#407EB4
}
.irs-from:after,.irs-single:after,.irs-to:after{
    border-top-color:#407EB4
}
#session-timeout-dialog .modal-title{
    margin-top:0
}
#session-timeout-dialog .close{
    display:none
}
#session-timeout-dialog .btn-default{
    background-color:#fff;
    color:#ec536c
}
#session-timeout-dialog .countdown-holder{
    color:#ec536c;
    font-weight:700
}
.chart{
    position:relative;
    display:inline-block;
    width:110px;
    height:110px;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center
}
.chart canvas{
    position:absolute;
    top:0;
    left:0
}
.chart.chart-widget-pie{
    margin-top:5px;
    margin-bottom:5px
}
.percent{
    display:inline-block;
    line-height:110px;
    z-index:2
}
.percent:after{
    content:'%';
    margin-left:.1em;
    font-size:.8em
}
.morris-charts text{
    font-family:Poppins,sans-serif!important
}
.morris-chart-height{
    height:300px
}
.morris-hover.morris-default-style{
    border-radius:5px;
    padding:10px 12px;
    background:#fff;
    border:none;
    -webkit-box-shadow:0 5px 25px 5px rgba(0,0,0,.14);
    box-shadow:0 5px 25px 5px rgba(0,0,0,.14)
}
.morris-hover.morris-default-style .morris-hover-point{
    font-weight:500;
    font-size:13px;
    color:#2a3142!important;
    font-family:Poppins,sans-serif
}
.morris-hover.morris-default-style .morris-hover-row-label{
    background-color:#2a3142;
    color:#fff;
    padding:4px;
    border-radius:5px 5px 0 0;
    margin:-10px -12px 10px;
    font-family:Poppins,sans-serif
}
.flot-chart-height{
    height:320px
}
#flotTip{
    padding:8px 12px;
    background-color:#fff;
    z-index:100;
    color:#2a3142;
    -webkit-box-shadow:0 5px 25px 5px rgba(0,0,0,.14);
    box-shadow:0 5px 25px 5px rgba(0,0,0,.14);
    border-radius:1px
}
.ct-golden-section:before{
    float:none
}
.ct-chart{
    height:300px
}
.ct-grid{
    stroke:rgba(0,0,0,.09);
    stroke-width:2px;
    stroke-dasharray:3px
}
.ct-chart .ct-label{
    fill:#707070;
    color:#707070;
    font-size:14px;
    line-height:1
}
.ct-chart.simple-pie-chart-chartist .ct-label{
    color:#fff;
    fill:#fff;
    font-size:16px
}
.ct-chart .ct-series.ct-series-a .ct-bar,.ct-chart .ct-series.ct-series-a .ct-line,.ct-chart .ct-series.ct-series-a .ct-point,.ct-chart .ct-series.ct-series-a .ct-slice-donut{
    stroke:#407EB4
}
.ct-chart .ct-series.ct-series-b .ct-bar,.ct-chart .ct-series.ct-series-b .ct-line,.ct-chart .ct-series.ct-series-b .ct-point,.ct-chart .ct-series.ct-series-b .ct-slice-donut{
    stroke:#29bbe3
}
.ct-chart .ct-series.ct-series-c .ct-bar,.ct-chart .ct-series.ct-series-c .ct-line,.ct-chart .ct-series.ct-series-c .ct-point,.ct-chart .ct-series.ct-series-c .ct-slice-donut{
    stroke:#f5b225
}
.ct-chart .ct-series.ct-series-d .ct-bar,.ct-chart .ct-series.ct-series-d .ct-line,.ct-chart .ct-series.ct-series-d .ct-point,.ct-chart .ct-series.ct-series-d .ct-slice-donut{
    stroke:#2a3142
}
.ct-chart .ct-series.ct-series-e .ct-bar,.ct-chart .ct-series.ct-series-e .ct-line,.ct-chart .ct-series.ct-series-e .ct-point,.ct-chart .ct-series.ct-series-e .ct-slice-donut{
    stroke:#58db83
}
.ct-chart .ct-series.ct-series-f .ct-bar,.ct-chart .ct-series.ct-series-f .ct-line,.ct-chart .ct-series.ct-series-f .ct-point,.ct-chart .ct-series.ct-series-f .ct-slice-donut{
    stroke:#ec536c
}
.ct-chart .ct-series.ct-series-g .ct-bar,.ct-chart .ct-series.ct-series-g .ct-line,.ct-chart .ct-series.ct-series-g .ct-point,.ct-chart .ct-series.ct-series-g .ct-slice-donut{
    stroke:#f8f9fa
}
.ct-series-a .ct-area,.ct-series-a .ct-slice-pie{
    fill:#407EB4
}
.ct-series-b .ct-area,.ct-series-b .ct-slice-pie{
    fill:#f5b225
}
.ct-series-c .ct-area,.ct-series-c .ct-slice-pie{
    fill:#2a3142
}
.chartist-tooltip{
    position:absolute;
    display:inline-block;
    opacity:0;
    min-width:10px;
    padding:2px 10px;
    border-radius:3px;
    -moz-border-radius:3px;
    background-clip:padding-box;
    background:#2a3142;
    color:#fff;
    text-align:center;
    pointer-events:none;
    z-index:1;
    -webkit-transition:opacity .2s linear;
    transition:opacity .2s linear
}
.chartist-tooltip.tooltip-show{
    opacity:1
}
.c3 svg{
    max-width:100%
}
.c3-tooltip td>span{
    background:#2a3142
}
.c3-tooltip td{
    border-left:none
}
.c3-tooltip{
    -webkit-box-shadow:0 8px 40px 0 rgba(0,0,0,.12);
    box-shadow:0 8px 40px 0 rgba(0,0,0,.12);
    opacity:1
}
.c3-chart-arcs-title{
    font-size:18px;
    font-weight:600
}
.c3-tooltip tr{
    border:none!important
}
.c3-tooltip th{
    background-color:#2a3142
}
.c3-tooltip .value{
    font-weight:600
}
.c3-line{
    stroke-width:2px
}
.c3-legend-item{
    font-size:13px
}
.jqstooltip{
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    background-color:#fff!important;
    padding:5px 10px!important;
    border-radius:3px;
    border-color:#fff!important;
    -webkit-box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}
.jqsfield{
    font-size:12px!important;
    line-height:18px!important;
    color:#2a3142!important
}
.widget-chart li{
    width:31.5%;
    display:inline-block;
    padding:0
}
.widget-chart li i{
    font-size:22px
}
.mini-stat{
    border:none
}
.mini-stat .mini-stat-icon i{
    font-size:30px;
    width:64px;
    height:64px;
    line-height:64px;
    text-align:center;
    color:#fff!important;
    border-radius:50%;
    background:rgba(255,255,255,.1);
    display:inline-block
}
.inbox-wid .inbox-item{
    position:relative;
    border-bottom:1px solid rgba(243,243,243,.9);
    overflow:hidden;
    padding:10px 0
}
.inbox-wid .inbox-item .inbox-item-date{
    font-size:11px;
    position:absolute;
    right:7px;
    top:8px
}
.widget-user{
    overflow:hidden
}
.widget-user .widget-user-desc::after{
    left:18px;
    bottom:-20px;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-top-color:#407EB4;
    border-width:10px;
    margin-left:-1px;
    border-right-color:#407EB4
}
.activity-feed{
    padding:15px 15px 0 15px;
    list-style:none
}
.activity-feed .feed-item{
    position:relative;
    padding-bottom:29px;
    padding-left:30px;
    border-left:2px solid #e9ecef
}
.activity-feed .feed-item:last-child{
    border-color:transparent
}
.activity-feed .feed-item::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:-10px;
    width:16px;
    height:10px;
    border-radius:6px;
    background:#fff;
    border:4px solid #407EB4
}
.activity-feed .feed-item .feed-item-list{
    padding:12px 20px;
    border-radius:7px;
    background:#f8f9fa
}
.activity-feed .feed-item .feed-item-list::after{
    left:19px;
    top:0;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-top-color:#f8f9fa;
    border-width:10px;
    margin-left:-1px;
    border-right-color:#f8f9fa
}
.activity-feed .feed-item .date{
    display:block;
    position:relative;
    top:-5px;
    color:#8c96a3;
    text-transform:uppercase;
    font-size:13px
}
.activity-feed .feed-item .activity-text{
    position:relative;
    top:-3px
}
.cd-container{
    width:90%;
    max-width:1170px;
    margin:0 auto
}
.cd-container::after{
    content:'';
    display:table;
    clear:both
}
@media only screen and (max-width:1170px){
    #cd-timeline{
        margin-bottom:2em;
        margin-top:2em;
        padding:2em 0;
        position:relative
    }
    #cd-timeline::before{
        border-left:3px solid #e9ecef;
        content:'';
        height:100%;
        left:18px;
        position:absolute;
        top:0;
        width:3px
    }
    .cd-timeline-img{
        top:10px!important
    }
}
@media only screen and (min-width:1170px){
    #cd-timeline{
        margin-bottom:3em;
        margin-top:3em
    }
    #cd-timeline::before{
        left:50%;
        margin-left:-2px
    }
}
.cd-timeline-block{
    margin:2em 0;
    position:relative
}
.cd-timeline-block:after{
    clear:both;
    content:"";
    display:table
}
.cd-timeline-block:first-child{
    margin-top:0
}
.cd-timeline-block:last-child{
    margin-bottom:0
}
@media only screen and (min-width:1170px){
    .cd-timeline-block{
        margin:4em 0
    }
    .cd-timeline-block:first-child{
        margin-top:0
    }
    .cd-timeline-block:last-child{
        margin-bottom:0
    }
    .timeline-right::before{
        content:"";
        position:absolute;
        width:300px;
        height:3px;
        background:#e9ecef;
        left:50%;
        top:150px;
        -webkit-transform:translateX(-50%) rotate(35deg);
        transform:translateX(-50%) rotate(35deg)
    }
    .timeline-left::before{
        content:"";
        position:absolute;
        width:300px;
        height:3px;
        background:#e9ecef;
        left:50%;
        top:150px;
        -webkit-transform:translateX(-50%) rotate(-35deg);
        transform:translateX(-50%) rotate(-35deg)
    }
}
.cd-timeline-img{
    position:absolute;
    top:20px;
    left:0;
    width:40px;
    height:40px;
    border-radius:50%;
    text-align:center;
    line-height:30px;
    font-size:20px;
    color:#fff;
    background-color:#407EB4;
    border:5px solid #fff
}
.cd-timeline-img i{
    margin-left:1px
}
@media only screen and (min-width:1170px){
    .cd-timeline-img{
        width:40px;
        height:40px;
        line-height:32px;
        left:50%;
        margin-left:-20px;
        top:130px;
        -webkit-transform:translateZ(0);
        -webkit-backface-visibility:hidden
    }
}
.cd-timeline-content{
    border-radius:5px;
    background:#f8f9fa;
    margin-left:60px;
    padding:1em;
    position:relative
}
.cd-timeline-content:after{
    clear:both;
    content:"";
    display:table
}
.cd-timeline-content h2{
    margin-top:0
}
.cd-timeline-content .cd-read-more{
    background:#407EB4;
    border-radius:.25em;
    color:#fff;
    display:inline-block;
    float:right;
    font-size:14px;
    padding:.8em 1em
}
.cd-timeline-content .cd-date{
    display:inline-block;
    font-size:14px
}
.cd-timeline-content h3{
    font-size:16px;
    margin:0 0 15px 0
}
.cd-timeline-content .cd-date{
    float:left;
    padding:.8em 0;
    opacity:.7
}
.cd-timeline-content::before{
    content:'';
    position:absolute;
    top:16px;
    right:100%;
    height:0;
    width:0;
    border:12px solid transparent;
    border-right:12px solid #f8f9fa
}
@media only screen and (min-width:1170px){
    .cd-timeline-content{
        margin-left:0;
        padding:1.6em;
        width:36%
    }
    .cd-timeline-content::before{
        top:24px;
        left:100%;
        border-color:transparent;
        border-left-color:#f8f9fa
    }
    .cd-timeline-content .cd-read-more{
        float:left
    }
    .cd-timeline-content .cd-date{
        position:absolute;
        width:100%;
        left:108%;
        top:16px
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content{
        float:right
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before{
        top:24px;
        left:auto;
        right:100%;
        border-color:transparent;
        border-right-color:#f8f9fa
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more{
        float:right
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date{
        left:auto;
        right:106%;
        text-align:right
    }
}
.directory-card{
    overflow:hidden
}
/* .directory-card .directory-bg{
    background-image:url(../images/directory-bg.jpg);
    background-size:cover;
    background-position:center center
} */
.directory-card .directory-overlay{
    background-color:rgba(122,111,190,.7);
    padding:20px
}
.directory-card img{
    position:relative;
    top:60px
}
.table>thead>tr>.no-line{
    border-bottom:none
}
.table>tbody>tr>.no-line{
    border-top:none
}
.table>tbody>tr>.thick-line{
    border-top:2px solid #f8f9fa
}
@media print{
    #topnav,.footer{
        display:none
    }
    .wrapper{
        padding:0
    }
    .container-fluid{
        width:100%
    }
}
.wrapper-page{
    margin:5.5% auto;
    max-width:460px;
    position:relative
}
.wrapper-page .logo-admin{
    font-size:28px;
    line-height:70px
}
.user-thumb{
    position:relative;
    z-index:999
}
.user-thumb img{
    height:88px;
    margin:0 auto;
    width:88px
}
.ex-page-content h1{
    font-size:98px;
    font-weight:500;
    line-height:150px;
    text-shadow:rgba(61,61,61,.3) 1px 1px,rgba(61,61,61,.2) 2px 2px,rgba(61,61,61,.3) 3px 3px
}
.dashboard-charts{
    height:300px
}
@media (max-width:425px){
    .table-rep-plugin .sticky-table-header.fixed-solution{
        top:130px!important
    }
    .nav-pills .nav-link,.nav-tabs .nav-link{
        padding:.5rem
    }
}
@media (max-width:620px){
    .mo-mb-2{
        margin-bottom:10px
    }
    .mo-mt-2{
        margin-top:10px!important
    }
}
@media (max-width:768px){
    .table-rep-plugin .sticky-table-header.fixed-solution{
        top:160px!important
    }
}

.table th { background:#144770; color:#fff;font-size: 11px; padding:5px 10px;}
.table td { padding: 5px 10px; font-size: 11px;}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > thead > tr > td{ padding: 5px 10px; font-size: 11px;}
div.dataTables_wrapper div.dataTables_info {font-size: 11px;}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{font-size: 12px;}
div.dataTables_wrapper div.dataTables_filter label{font-size: 12px;}

.sub-nav-div{
    position: relative;
    background-color:#fff;
    margin:0px 0 20px 0; padding: 10px;
    border-radius:3px;
    -webkit-box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02);
    box-shadow:0 -3px 31px 0 rgba(0,0,0,.05),0 6px 20px 0 rgba(0,0,0,.02)
}
.sub-nav-div ul { margin: 0; padding: 0; list-style: none; }
.sub-nav-div ul li{ margin: 0 50px 0 0; padding: 0; list-style: none; display: inline-block;}
.sub-nav-div ul li a{ color: #707070; font-size: 13px;}
.sub-nav-div ul li a.active{ color: #407EB4;}

.fixed_header{
    display:block;
    overflow-y:scroll;
    min-height:250px;max-height:300px; height: auto; border-collapse: collapse;
  }
.height375{
     min-height:375px!important;max-height:375px!important;
  } 
/*
.scroll-tbl tbody{
    overflow-y:scroll;  max-height:200px; min-height:100px; height: auto; display: block;
  }
.scroll-tbl{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}


.scroll-tbl thead tr {
   display: block;
}
.scroll-tbl th {width: 200px;}
.scroll-tbl td {
  text-align: left;
  width: 200px;
}


.fixed_header tbody{
    display:block;
    overflow-y:scroll;
    height:200px;
    width:100%;
  }
  
  .fixed_header thead tr{
    display:block;
  }

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 100px;
}

*/


.regx-message {
    display: block; width: 30px; height: 30px;;
    background-color: #666666;
    mask: url(../images/icons/envelope.svg) no-repeat 50% 50%;
    -webkit-mask:  url(../images/icons/envelope.svg) no-repeat 50% 50%;
}  
.regx-bell {
    display: block; width: 30px; height: 30px;;
    background-color: #666666;
    mask: url(../images/icons/bell.svg) no-repeat 50% 50%;
    -webkit-mask:  url(../images/icons/bell.svg) no-repeat 50% 50%;
}  
.regx-help {
    display: block; width: 30px; height: 30px;;
    background-color: #666666;
    mask: url(../images/icons/question.svg) no-repeat 50% 50%;
    -webkit-mask:  url(../images/icons/question.svg) no-repeat 50% 50%;
}  
.nav-icon { margin-top: 14px; cursor: pointer;}

.import-div { margin: 0 auto; padding: 0; position: absolute; text-align: center; top: 180px; left: 45%; z-index: 111; display:none;}
.import-div a{ color:#407EB4; font-size: 36px; cursor: pointer;}


.blue-blk-link{
    background-color:#407EB4; border:1px solid #407EB4; margin: 0; padding:8px 20px; color:#fff; font-size: 13px; border-radius: 4px; display: inline-block;
}
.blue-blk-link:hover{
    background-color:#2292f1;color:#fff;
    border:1px solid #2292f1
}

.drop-files-div { margin: 0 0 20px 0; padding:0 10px; position: relative; border: 1px solid #e5e5e5; overflow-y:scroll; height: auto; min-height: 200px; max-height: 220px;}
.drop-files-div .drop-files-row{ margin: 0; padding: 10px 0; position: relative; border-bottom: 1px solid #e5e5e5;}
.drop-files-div .drop-files-row.last { border-bottom:0;}
.drop-files-div .drop-files-row .file-col-1{ float: left; width: 5%;}
.drop-files-div .drop-files-row .file-col-2{ float: left; width: 90%;}
.drop-files-div .drop-files-row .file-col-3{ float: right; width: 5%;}
.drop-files-div .drop-files-row .file-name { margin: 0; padding: 0; display: inline-block; color:#666; font-size: 12px;}
.drop-files-div .drop-files-row .file-check i { color:#1fc762; margin-left: 5px;}
.drop-files-div .drop-files-row .file-question i { color:#666; margin-left: 5px;}

.checkbox-wrapper { margin-top: 4px;}

.main-nav { margin: 0 0 0 0px; padding: 8px 0 0 0; position: relative; float: left; }
.main-nav ul{ margin: 10px 0 0 20px; padding: 0; position: relative; list-style: none; }
.main-nav ul li{ margin: 0 40px 0 0; padding: 0; list-style: none; display: inline-block;}
.main-nav ul li a{ margin: 0; padding: 0; color:#666;font-size: 16px; }
.main-nav ul li a:hover{ color:#407EB4;}
.main-nav ul li a.active{ color:#407EB4;}

.filter-search-div { margin: 0; padding: 0; display: flex; flex-direction: row; overflow: hidden; width: 100%; justify-content: flex-end;}
.search-data-div { margin: 0 0 10px 20px; padding: 0; }
.search-data-div form { text-align: right;}
.search-data-div label{ margin: 5px 0 0 0; padding: 0; vertical-align: middle;}
.search-data-div .search-col-1{ margin: 0 5px 0 0; padding: 0; width: 65%;  vertical-align: middle; float: left;}
.search-data-div .search-col-2{ margin: 0 10px 0 0; padding: 0; width: 5%;   vertical-align: middle;}
.search-data-div .search-col-3{ margin: 0 5px 0 0; padding: 0; width: 20%;  vertical-align: middle; }
.search-data-div .search-col-4{ margin: 0 10px 0 0; padding: 0; width: 5%; vertical-align: middle; }
.search-data-div .search-col-5{ margin: 0 0px 0 0; padding: 0; width: 10%; vertical-align: middle; }
.search-data-div .search-col-6{ margin: 0 0px 0 0; padding: 0; width: 25%; vertical-align: middle; float: left;}
.sbtn { background: #407EB4; color:#fff; height: 30px;}
.sbtn:hover { background: #144770; color:#fff;}
.w60 { width: 60%;}

.form-control { border-radius:0; height: 30px;}

.card-header {
    padding: 1.25rem;
    margin-bottom: 0;
    background-color:#fff;
    border-bottom:0;
}
.card-header .card-title { margin: 0; padding: 0;}
.header-elements-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.header-elements-inline .header-elements {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
    border: 0;
    margin-left: 0;
    margin-right: 0;
}
.card-header .header-elements {
    padding-top: 0;
}
.list-icons {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}
a.list-icons-item:not([class*="text-"]) {
    color: inherit;
}
[data-action]::after {
    font-family:'Font Awesome 5 Free';
    font-size: 1rem;
    min-width: 1rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
[data-action] {
    cursor: pointer;
}

.filter-nav-div { margin: 0; text-align: right; padding: 0; position: relative;}
.filter-nav-div .filt-nav-ul{ margin: 0;padding: 0; border: 1px solid #ddd;}
.filter-nav-div ul{ margin: 0 0px 0 0px;padding: 0 0 0 0px; list-style: none; position: relative;  display: -ms-flexbox;    display: flex;    -ms-flex-wrap: wrap; flex-direction: row; justify-content: flex-end;}
.filter-nav-div ul li { margin: 0; padding:0; list-style: none; display: inline-block; vertical-align: middle;  border-right: 1px solid #ddd; }
.filter-nav-div ul li:last-child { border-right:0; margin: 0;}
.filter-nav-div ul li a { margin: 0; padding: 0 10px 0 10px; color:#666; font-size: 18px; display: inline-block;}
.filter-nav-div ul li a:hover { background: #f2f2f2;}

.right-blk-div { text-align: right; margin: 0px 10px 0 0; padding: 0; position: relative; display: inline-block; float: right;}
.right-blk-div a { font-size: 18px;}
.right-blk-div i { margin: 0 20px 0 5px;}


@media only screen and (max-width: 767px){
    .notification-list .nav-link { padding: 0 10px;}

     .InputFromTo .DayPickerInput-Overlay {    width: 280px!important;   }
     .InputFromTo { margin:20px 0!important; width: 100%; float:none!important; display: block!important;}
     .DayPickerInput { width:100%; text-align: left; margin: 10px 0;}
     .DayPickerInput input { width:100%;}
     .InputFromTo-to{ width:100%; text-align: left;}
     .InputFromTo-to .DayPickerInput { width:100%; text-align: left;}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}



.slimscroll.notification-item-list { height: 200px; overflow-y:scroll;}
input.form-control.input-file {
    height: 40px;
}
.col-02 {
    float: left;
    padding: 0;
    margin-right: 5px;
    flex: 0;
    display: block;
    max-width: fit-content;
}
.padd-0{padding: 0!important;}
.title-files {
    padding: 0;
    width: 100%;
    float: left;
    margin: 0;
}
.modal-header1 button.close {
    float: right;
    position: absolute;
    right: 15px;
    padding: 20px;
}
.radio-root1{ padding: 0 15px; }
.padd-0{ padding: 0!important; }
.radio-inline.clearfix {
    margin: 0;
    display: inline-block;
    width: 33.3%;
    float: left;
}
input.form-control.radio-input {
    float: left;
    display: inline-block;
    width: 12px;
}
span.radio-span1 {
    display: inline-block;
    padding: 5px;
}

.datepickerArm .react-datepicker-wrapper {
    display: inline-block;
    float: right;
}
.datepickerArm input {
    border: 1px solid #ddd;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    border-radius: 24px;
	outline:none;
}

.react-datepicker__day--selected {
    background-color: #144770!important;
    font-weight: 400!important;
}

.react-datepicker__header {
    background-color: #2a3142!important;
}
.react-datepicker__current-month, .react-datepicker-time__header {
    color: #fff!important;
}
.react-datepicker__header .react-datepicker__day-name{ color: #fff!important; }
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle{
    border-top: none;
    border-bottom-color: #2a3142!important;
}


.DayPickerInput input{
    border:1px solid #e9ecef;
    font-size:13px;
    height:34px;
    padding-left:18px;
    padding-right:40px;
    margin-right:20px;
    background:#f8f9fa;
    -webkit-box-shadow:none;
    box-shadow:none;
    border-radius:30px;
}
.DayPickerInput input:focus { border-radius: 30px; outline:0;}

.table-bordered thead td, .table-bordered thead th {
    white-space: nowrap;
}
.modal-dialog {
    max-width: 1000px;
}
.modal-new1 .card-body {
    flex: 1 1 auto;
    padding: 10px;
}
.modal-new1 .table td {
    padding: 5px 10px;
    font-size: 11px;
    min-width: 325px;
}